.max-width{
    width: 100%;
}

.buttons{
    width: 15%;
    margin: 50px;
    background-color: #bb181d;
    color: white;
    text-align: center;
    font-size: 20px;
    padding: 15px 35px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: white;
    background-color: #bb181d;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

.buttons:active{
    background-color: black;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}   

