.popupLogin{
    width: 15%;
    background-color: #bb181d;
    color: white;
    text-align: center;
    font-size: 20px;
    padding: 20px 30px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: white;
    background-color: #bb181d;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    opacity: 0;
    transition: opacity 2s linear;
    -webkit-animation: fadeinout 5s linear forwards;
    animation: fadeinout 5s linear forwards;
    top: -10px;
    position: fixed;
    left: 39%;
}

@-webkit-keyframes fadeinout {
  0%,100% { opacity: 0; }
  50% { opacity: 1; }
}

@keyframes fadeinout {
  0%,100% { opacity: 0; }
  50% { opacity: 1; }
}


.logIn-sinu{
    width:50%;
    height:25%;
    margin-bottom: 20px;
    margin-left: 5px;
}

.login-padding{
    margin-left: 38%;
    margin-top: 250px;
}

.login {
  width: 340px;
  height: 330px;
  padding: 30px 25px;
}

.login-input[type=password]{
    height:40px;
    width:285px;
    border-radius: 3px;
    border: none;
    margin-bottom: 25px;
    padding-left:10px;
    border-radius: 5px;
    background: transparent;
    border: 3px solid #050405;

}


.login-input[type=password]:focus
{
    outline:none;
    box-shadow: 0 0 0 2px #bb181d;
}

.login-input[type=text]{
    height:40px;
    width:285px;
    border-radius: 3px;
    border: none;
    margin-bottom: 25px;
    padding-left:10px;
    border-radius: 5px;
    background: transparent;
    border: 3px solid #050405;
}


.login-input[type=text]:focus
{
    outline:none;
    box-shadow: 0 0 0 2px #bb181d;
    
}

.login-button {
  margin-left: 10px;
  width: 40%;
  opacity: 0.9;
  background-color: #bb181d;
  border: none;
  color: white;
  padding: 5px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  border-radius: 4px;
}

.login-button:focus{
    opacity: 0.9;
    outline:none;
    box-shadow: 0px 0px 5px 5px white;
}


body {
    background-image: url("../Images/Study.jpg");
    width: 100%;
    height: 100%;
    top: 0;
    background-size: cover;
    position: fixed;
}
