.toolbarTeacher {
    position: fixed;
    width: 13%;
    height: 97%;
    left: 5px;
    top: 10px;
    background-color: transparent;
}

.toolbarTeacher_button{
    padding: 35px 55px;
    border-radius: 10px;
    background-color: #050405;
    color: white;
    text-align: center;
    font-size: 15px;
    margin-top: 250px;
}

.toolbarTeacher_button:focus{
    opacity: 0.8;
    box-shadow: 0px 0px 2px 2px white;
}

ul{
   list-style-type:none;
}

#imageTeacher{
    margin:50px;
    width: 300px;
    height: 150px;
}

