
.logout_button{
    border-radius: 5px;
    background-color: #bb181d;
    color: white;
    text-align: center;
    font-size: 20px;
    right:30px;
    top: 30px;
    position: absolute;
    padding: 15px 35px;
}

.logout_button:focus{
    opacity: 0.8;
    box-shadow: 0px 0px 2px 2px white;
}

.scroll{
    overflow-y:auto;
    position:relative;
    height: 1000px;
}

.toolbarSecretariat {
    position: fixed;
    width: 13%;
    height: 97%;
    left: 5px;
    top: 10px;
    background-color: transparent;
}

.toolbarSecretariat_button{
    width: 60%;
    height: 10%;
    border-radius: 10px;
    background-color: #050405;
    color: white;
    text-align: center;
    font-size: 15px;
    margin: 20px;
}

.toolbarSecretariat_button:first-of-type
{
    margin-top: 100px;

}

.toolbarSecretariat_button:focus{
    opacity: 0.5;
    box-shadow: 0px 0px 2px 2px white;
    transition: all 0.8s ease;

}

ul{
    list-style-type:none;
}

#imageSecretariat{
    margin:50px;
    width: 300px;
    height: 150px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 25px;
    background-color: white;
    color: black;
    text-align: center;

}