back_button{
  border-radius: 5px;
  background-color: #bb181d;
  color: white;
  text-align: center;
  font-size: 25px;
  left: 50px;
  bottom: 50px;
  position: absolute;
  padding: 15px 35px;
}

.back_button:focus{
  opacity: 0.8;
  box-shadow: 0px 0px 2px 2px white;
}


.addInfo-padding{   
    margin-left: 25%;
}

.addInfo {
  margin-left: 300px;
  width: 300px;
  padding: 30px 25px;
  background: #050405;
  border-radius: 8px;
  border: 5px solid #050405;
}

.addInfo-input[type=text]{
    height: 30px;
    width: 80%;
    border: none;
    margin-bottom: 10px;
    padding-left:10px;
    border-radius: 3px;
    border: 3px solid #050405;
}

.addInfo-input[type=text]:focus
{
    box-shadow: 0 0 0 2px #bb181d;
    transition: all 0.8 ease;
}

.addInfo-button {
  width: 50%;
  opacity: 0.9;
  background-color: #bb181d;
  border: none;
  color: white;
  padding: 5px 8px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  border-radius: 4px;
  margin-top: 10px;
}

.addInfo-button:focus{
    opacity: 0.9;
    outline:none;
    box-shadow: 0px 0px 5px 5px white;
}

form.example{
  top: 10px;
  right: 10px;
}

form.example input[type=text] {
  height: 35px;
  width: 200px;
  border-radius: 6px;
  border: none;
  margin-bottom: 10px;
  padding-left: 10px;
  border: 2px solid #050405;
}

.form.example input[type=text]{
  outline:none;
  box-shadow: 0 0 0 2px #bb181d;
  transition: all 0.5s ease;
}


form.example button {
  background-color: #bb181d;
  color: white;
  text-align: center;
  font-size: 20px;
  padding: 10px 25px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: white;
  background-color: #bb181d;
  border: none;
  border-radius: 5px;
  margin-left: 5px;
}

form.example button:active {
  background-color: black;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
