table {
    font-family: arial, sans-serif;
    width: 70%;
    margin: 10px 0px 0px 290px;
}

td {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 10px;
    width: 50%;
}

th {
    text-align: center;
    border: 2px solid #bb181d;
    border-radius: 3px;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

select {
    padding: 10px 20px;
    margin-bottom: 30px;
    border: 2px solid #bb181d;
    border-radius: 4px;
    text-align: center;
}

select:focus{
    opacity: 0.8;
    box-shadow: 0px 0px 2px 2px #050405;
}

.td_button{
    margin-left: 5px;
    padding: 8px 15px;
    border-radius: 5px;
    background-color: #050405;
    color: white;
    text-align: center;
    font-size: 15px;
}

.td_button:focus{
    opacity: 0.8;
    box-shadow: 0px 0px 2px 2px #bb181d;
}

#input{
    padding: 8px 5px 5px 0px;
    border-radius: 3px;
    text-align:center;
}

option{
    text-align: center;
}