.divAddRegister{
    text-align: center;
}

.addRegister-padding{
    margin-left: 800px;
}

.addRegister {
  width: 260px;
  height: 450px;
  padding: 30px 25px;
  background: #050405;
  border-radius: 8px;
  border: 5px solid #050405;
  margin-bottom: 30px;
}

.addRegister-input[type=text]{
    height:30px;
    width:240px;
    border-radius: 3px;
    border: none;
    margin-bottom: 10px;
    padding-left:10px;
    border-radius: 3px;
    border: 3px solid #050405;
}

.addRegister-input[type=text]:focus
{
    outline:none;
    box-shadow: 0 0 0 2px #bb181d;
    
}

.addRegister-input2[type=password]{
    height:30px;
    width:240px;
    border-radius: 3px;
    border: none;
    margin-bottom: 10px;
    padding-left:10px;
    border-radius: 3px;
    border: 3px solid #050405;
}

.addRegister-input2[type=password]:focus
{
    outline:none;
    box-shadow: 0 0 0 2px #bb181d;
    
}

.addRegister-button {
  width: 40%;
  opacity: 0.9;
  background-color: #bb181d;
  border: none;
  color: white;
  padding: 15px 20px;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  border-radius: 4px;
}

.addRegister-button:focus{
    opacity: 0.9;
    outline:none;
    box-shadow: 0px 0px 5px 5px white;
}


.selectRegister {
    padding: 10px 20px;
    border: 2px solid #bb181d;
    border-radius: 4px;
    text-align: center;
}

.selectRegister:focus{
    opacity: 0.8;
    box-shadow: 0px 0px 2px 2px #050405;
}


