.button_Calendar {
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    outline: none;
    color: #fff;
    background-color: #bb181d;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  
.button_Calendar:hover {background-color: #bb181d}

.button_Calendar:active {
background-color: black;
box-shadow: 0 5px #666;
transform: translateY(4px);
}

.button_AddExamen {
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    outline: none;
    color: #fff;
    background-color: #bb181d;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  
.button_AddExamen:hover {background-color: #bb181d}

.button_AddExamen:active {
background-color: black;
box-shadow: 0 5px #666;
transform: translateY(4px);
}


.option_font{
    width: 120px;
}


.div_width{
    width:100%;
    display:inline-flex;
}
.div_small_width {
    margin-left:650px;
}

.div_small_width:first-of-type{
    margin-top:50px;
}

.div_bigger_width{
    margin-left:100px;
}


table {
    font-family: arial, sans-serif;
    width: 70%;
    margin: 10px 0px 50px 290px;
}
  
td {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 10px;
    width: 50%;
}

th {
    text-align: center;
    border: 2px solid #bb181d;
    border-radius: 3px;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #bb181d;
}

select {
    padding: 10px 20px;
    margin-bottom: 30px;
    border: 2px solid #bb181d;
    border-radius: 4px;
    text-align: center;
}

select:focus{
    opacity: 0.8;
    box-shadow: 0px 0px 2px 2px #050405;
}

.td_button{
    margin-left: 5px;
    padding: 8px 15px;
    border-radius: 5px;
    background-color: #050405;
    color: white;
    text-align: center;
    font-size: 15px;
}

.td_button:focus{
    opacity: 0.8;
    box-shadow: 0px 0px 2px 2px #bb181d;
}

#input{
    padding: 8px 5px 5px 0px;
    border-radius: 3px;
    text-align:center;
}

option{
    text-align: center;
}