.popup{
    width: 15%;
    background-color: #bb181d;
    color: white;
    text-align: center;
    font-size: 20px;
    padding: 18px 50px;
    cursor: pointer;
    outline: none;
    color: white;
    background-color: #bb181d;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    opacity: 0;
    transition: opacity 2s linear;
    -webkit-animation: fadeinout 5s linear forwards;
    animation: fadeinout 5s linear forwards;
    top: -10px;
    position: fixed;
    left: 40%;
}

@-webkit-keyframes fadeinout {
  0%,100% { opacity: 0; }
  50% { opacity: 1; }
}

@keyframes fadeinout {
  0%,100% { opacity: 0; }
  50% { opacity: 1; }
}