

table {
    font-family: arial, sans-serif;
    width: 70%;
    margin: 10px 0px 150px 330px;
}
  
td {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 10px;
    width: 50%;
}

th {
    text-align: center;
    border: 2px solid #bb181d;
    border-radius: 3px;
    padding: 8px;
    background-color: white;
    color: black;
}

tr{
    color: white
}


tr:nth-child(even) {
    background-color: #bb181d;
}

tr:nth-child(odd)
{
    background-color: #050405;
}

select {
    padding: 10px 20px;
    margin-bottom: 30px;
    border: 2px solid #bb181d;
    border-radius: 4px;
    text-align: center;
}

select:focus{
    opacity: 0.8;
    box-shadow: 0px 0px 2px 2px #050405;
}

.td_button{
    left: 5px;
    padding: 8px 15px;
    border-radius: 5px;
    background-color: #050405;
    color: white;
    text-align: center;
    font-size: 15px;
}

.td_button:focus{
    opacity: 0.8;
    box-shadow: 0px 0px 2px 2px #bb181d;
}

#input{
    padding: 8px 5px 5px 0px;
    border-radius: 3px;
    text-align:center;
}

option{
    text-align: center;
}





.add-padding{
    margin-left: 800px;
}

.add {
  width: 260px;
  height: 150px;
  padding: 30px 25px;
  background: #050405;
  border-radius: 8px;
  border: 5px solid #050405;
  margin-bottom: 30px;
}

.add-input[type=text]{
    height:30px;
    width:240px;
    border-radius: 3px;
    border: none;
    margin-bottom: 10px;
    padding-left:10px;
    border-radius: 3px;
    border: 3px solid #050405;
}

.add-input[type=text]:focus
{
    outline:none;
    box-shadow: 0 0 0 2px #bb181d;
    transition: all 0.5s ease;
    
}

.add-button {
  margin-left: 10px;
  width: 40%;
  opacity: 0.9;
  background-color: #bb181d;
  border: none;
  color: white;
  padding: 5px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  border-radius: 4px;
}

.add-button:focus{
    transition: all 0.5s ease;
    opacity: 0.9;
    outline:none;
    box-shadow: 0px 0px 5px 5px white;
}



